= form_for([movie, movie.comments.build]) do |f|
  .form-group
    = f.label :title
    %br/
    = f.text_field :title, autofocus: true, class: 'form-control'
    %br/
    = f.label :content
    %br/
    = f.text_field :content, autofocus: true, class: 'form-control'
    = f.hidden_field :movie_id
    = f.hidden_field :user_id
  .actions.pull-right
    = f.button "Submit", class: 'btn btn-default'