%h1= movie.title
.jumbotron
  = movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(movie), class: 'btn btn-sm btn-default'
  - if can_user_comment_movie?(movie)
    %h3= 'Add a comment'
    = render 'comments/form'
  - else
    .jumbotron
      You have already commented on this movie, thank you for your input.
      If you want to comment again, please
      - comment = current_user_comment(movie)
      = link_to 'delete', movie_comment_path(movie_id: movie.id, id: comment.id), method: :delete
      your previous comment first.
= render 'comments/show_all_for_movie', locals: {movie: movie}
